.headingWrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.todosHeading{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 22px;
  background-color: transparent;
  border: none;
}
.headingBtn{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-size: 90%;
  background-position: center;
}
.headingBtn:active{
  filter: brightness(30%);
}
.headingSave{
  position: relative;
  right: 40px;
}
.headingEdit{
  background-image: url('../../../../img/edit.svg');
}
.headingDelete{
  background-image: url('../../../../img/remove.svg');
}