.placeholderWrapper{
  align-self: stretch;
  display: flex;
  margin-top: 5rem;
  width: 100%;
}

.placeholder {
  margin: auto;
}

.placeholderHeading{
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.placeholderText {
  margin-top: 2rem;
}