.placeholderWrapper{
  display: flex;
  width: 100%;
}

.placeholder {
  margin: auto;
  height: 45vh;
}

.placeholderHeading{
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.placeholderText {
  margin-top: 2rem;
}