.todoPanelDeleteWrapper {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 15px 0;
}

.todoPanelDeleteWrapper p {
  font-size: 14px;
}

.todoPanelDeleteWrapper span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.todoPanelArrow {
  background-size: 150%;
}

.todoPanelDelete {
  background-size: contain;
}