.modalWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}
.modal {
  margin: auto;
  padding: 24px;
  width: 500px;
  border-radius: 28px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
}
.modalHeader {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.modalInput {
  margin-bottom: 22px;
  padding: 17px 48px;
  width: 100%;
  border: none;
  border-radius: 4px 4px 0px 0px;
}
.light::placeholder{
  color: rgba(28, 27, 31, 0.38);
}
.dark::placeholder {
  color: rgba(230, 225, 229, 0.38);
}
.modalText {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
.btnWrapper{
  display: flex;
  justify-content: flex-end;
  gap: 22px;
}
.btnWrapper button {
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
}
.cancelBtn{
  background-color: transparent;
}
.addBtn {
  border-radius: 20px;
}
.addBtn:disabled {
  opacity: 0.4;
}
.confirmBtn {
  border-radius: 20px;
}