
.modalWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.modal {
  margin: auto;
  padding: 1.5rem;
  width: 30rem;
  border-radius: 28px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.modalHeader {
  display: inline-block;
  margin-bottom: .8rem;
  margin-left: 2rem;
  font-weight: 400;
  font-size: 1.4rem;
}

.usernameWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: .5rem 0;
}
.userpic{
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat; 
  background-position: center;
  background-size: contain;
}
.descrWrapper{
  text-align: center;
}
.userName{
  font-weight: 500;
  font-size: 1rem;
}
.userEmail{
  font-weight: 500;
  font-size: .8rem;
  letter-spacing: 0.4px;
}
.logoutBtn {
  background-color: transparent;
  border: none;
}
.generalSettingsWrapper {
  padding-top: 1rem ;
}
h4 {
  margin-bottom: .8rem;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: 0.1px;
}

.settingsWrapper {
  margin-bottom: .8rem;
}
.settingsHeading {
  font-style: normal;
  font-weight: 600;
  font-size: .8rem;
  letter-spacing: 0.4px;
}
.settingsBtns{
  display: flex;
  gap: 5px;
  margin: 5px 0;
}
.settingsBtn{
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 8px;
}
.lightBtn,
.darkBtn {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 20%;
}
.generalSettingsWrapper p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(28, 27, 31, 0.38);
}
.aboutSettingsWrapper {
  margin: 1rem 0;
}
.versionNumber {
  margin-left: 2rem;
}
.btnWrapper{
  display: flex;
  justify-content: flex-end;
  gap: 22px;
}
.btnWrapper button {
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
}

.cancelBtn {
  color: #5946D2;
  background-color: transparent;
}

.saveBtn {
  background: #5946D2;
  border-radius: 20px;
  color: #ffffff;
}

.activeSetting {
  font-weight: 600;
  color: #160067;
  background-color: rgba(89, 70, 210, 0.12);
  border: none;
}