.usernameWrapper{
  display: flex;
  margin-bottom: 20px;
}
.userpic{
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}
.descrWrapper{
  margin-left: 1rem;
}
.userName{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.userEmail{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}