.searchForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 9px 10px;
  background-color: rgba(28, 27, 31, 0.08);
  border-bottom: 2px solid rgba(28, 27, 31, 0.38);
}
.searchInput{
  padding-left: 30px;
  max-width: 10rem;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(28, 27, 31, 0.38);
  background: url('../../../img/search.svg') no-repeat;
  background-position: left center;
  background-size: contain;
}

.searchClean{
  color: rgba(28, 27, 31, 0.38);
  cursor: pointer;
}