.searchForm{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  padding: 9px 13px;
  background-color: rgba(28, 27, 31, 0.08);
  border-bottom: 2px solid rgba(28, 27, 31, 0.38);
}
.searchBtn{
  width: 27px;
  height: 27px;
  border: none;
  background: url('../../../img/search.svg') no-repeat;
  background-position: center 4px;
  background-size: contain;
}
.searchInput{
  margin-left: 11.5px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(28, 27, 31, 0.38);
}