.todoPanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -280px;
  top: 0;
  width: 280px;
  height: 100vh;
  padding: 30px 20px;
  transition: .5s all;
}
.isShown {
  right: 0;
}

