.todoPanelDate {
  position: relative;
  padding: 15px 0;
}

::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.light ::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  background-image: url('../../../../img/light-date.svg');
}

.dark ::-webkit-calendar-picker-indicator {
  background-color: #201F24;
  background-image: url('../../../../img/dark-date.svg');
}

.todoPanelDateInput {
  display: flex;
  flex-direction: row-reverse;
  _align-items: baseline;
  gap: 1rem;
  border: none;
}