.todoPanelDate {
  position: relative;
  padding: 15px 0;
}

.todoPanelDate::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../../../img/light-date.svg');
}

.dark::before {
  background-color: #201F24;
  background-image: url('../../../../img/dark-date.svg');
}

.todoPanelDateInput {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  gap: 1rem;
  border: none;
}