
.settingsBtn{
  padding: 6px 16px;
  font-size: 14px;
  background-color: transparent;
  border-radius: 8px;
}

.modeBtn {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.iconSpan {
  display: inline-block;
  width: 18px;
  height: 18px;
}
