.todosContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: width 500ms ease-in-out;
}

.showPanel {
  width: calc(100% - 280px);
}

.todosSection {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding: 20px;
}
