.addButton {
  display: block;
  margin-top: auto;
  height: 40px;
  width: 100%;
  font-size: larger;
  text-align: left;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  background-repeat: no-repeat; 
  background-position: left center;
  background-size: 16px;
  border: none;
  cursor: pointer;
  padding-left: 50px;
}
.addButton:hover {
  filter: brightness(30%);
}